<!DOCTYPE html>
<html>
<head>
  
  <title>BasicApi</title>
  
  <script id="userTemplate" type="text/template">
      <strong>Name: </strong>{{ name  }}<hr>
  </script>
  
  <script id="userForm" type="text/template">
      <input type="text" id="userName" placeholder="Name...">
      <input type="text" id="userEmail" placeholder="Email...">
      <button id="submitUser">Submit</button>
  </script>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
      
<%= yield %>

</body>
</html>
